*{
    background:#ecf810;
}

a{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
}

a:hover a:active{
    background-color: red;
}

h1{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    padding: 10px 20px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 10%;
    border: 3px outset green;
}

p{
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.social > li{
    display: inline-block;
    margin: 0 10px;
  }
  
.content-footer {
    text-align: left;
    text-decoration: none;
  }