*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar{
    position: fixed;
    background: #0597E0;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.sidebar h2{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background: #0597E0;
    padding: 20px;
    font-weight: bold;
}


.sidebar ul li {
    margin: 25px 0;
}

.sidebar ul li a{
    color: #ffffff;
    padding: 0 30px;

}
.sidebar ul li a:hover{
    color: #000000;
    margin-left: 20px;
    transition: 0.4s;
}

.main{
    margin-left: 200px;
    padding: 5px;
}

.main h2{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 30px;
}

.main p{
    font-size: 20px;
    margin-left: 30px;
}